.steps
    display: flex
    justify-content: space-between
    &__bold
        +bold
    &__item
        font-size: 16px
        +bold  
        width: 370px
        height: 410px
        padding: 27px 26px
        background-position: center bottom
        &_1
            background-image: url('../img/steps/01.jpg')
        &_2
            background-image: url('../img/steps/02.jpg')
        &_3
            background-image: url('../img/steps/03.jpg')
    &__text
        display: block
        max-width: 282px
        line-height: 23px
        user-select: none
        -webkit-user-select: none
        -khtml-user-select: none
        -moz-user-select: none
        -ms-user-select: none 
@media (max-width: 1200px)
    .steps
        display: flex
        flex-direction: column
        align-items: center
        &__item
            width: 370px
            margin-bottom: 31px
            &:last-child
                margin-bottom: 0       
@media (max-width: 768px)
    .steps
        display: flex
        flex-direction: column
        align-items: center
        &__item
            padding: 19px 20px
            font-size: 12px
            width: 277px
            height: 300px
            margin-bottom: 31px
            background-repeat: no-repeat
            &:last-child
                margin-bottom: 0
            &_1
                background-image: url('../img/steps/01mobile.jpg')
            &_2
                background-image: url('../img/steps/02mobile.jpg')
            &_3
                background-image: url('../img/steps/03mobile.jpg')
        &__text
            line-height: 17px
